<html>

<head>
<link rel='stylesheet' href='http://localhost:4000/css-1/style.css'>

</head>

<body>

<h1 class='header'>Random Fact Text-Bot</h1>
<div class='wrapper'>
<h1 class="title">Bug your friends with a random fact!</h1>

<form method='POST' action='/send-fact'>
<p class='main-text'>Enter Phone Number (no dashes):</p>
<input type='text' placeholder='1234567890' name='number'><br>
<button class='learn-more'>Send them a fact!</button>
</form>
</div>


</body>

</html>